<div id="content" style='width: 60%; height: 50%; margin: 0 0 2% 20%; border: solid 1px #999; overflow-y: scroll;'>
</div>
<div class="controls">
	<input id="name" placeholder="Enter UserName" style='width:150px;'>
	<input id="message" placeholder="message" style='width:350px;'>
	<input id="send" type="button" value="send">
</div>