<div id="content" style='width: 100%; height: 400px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;'>
</div>
<div class="controls">
	<input id="name" placeholder="Enter UserName" style='width:350px;'>
	<input id="message" placeholder="" style='width:350px;'>
	<input id="send" type="button" value="send">
</div>