<nav class="main-nav-outer" id="test">
	<div class="container">
        <ul class="main-nav">
        	<div class="footer-logo"><a href="/"><img src="http://companionapp.io/Press-Resources/assets/logo-white-bg.png" alt=""></a></div>
        	<li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/companion">Companions</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/signup">Signup</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav>