<nav class="main-nav-outer" id="test">
	<div class="container">
        <ul class="main-nav">
            <a class="navbar-brand navbar-left" href="/">
                <img alt="Brand" class="iconImage" src="http://www.iconsdb.com/icons/preview/royal-blue/shield-xxl.png">
            </a>
        	<li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/companion">Companion</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav>