<h1>Choose Your Companion</h1>

	<div id="content" style='width: 100%; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;'>
	</div>
	<div class="controls">
		Name:<input id="name" style='width:350px;'><br>
		<input id="field" style='width:350px;'>
		<input id="send" type="button" value="send">
	</div>