<div class="header1">
<h1>Choose Your Companion</h1>
<a href="/companion/one">
    <div class="principal">
      <div class="principal_petit">
        <div class="principal_img">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/img_scale_sociaux.png" border="0" align="center"/>
        </div>
      </div>
    </div>
  </a>
 <br> <h3>Dr Suess</h3>

 <a href="/companion/two">
    <div class="principal">
      <div class="principal_petit">
        <div class="principal_img">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/img_scale_sociaux.png" border="0" align="center"/>
        </div>
      </div>
    </div>
  </a>
 <br> <h3>Mother</h3>

 <a href="/companion/three">
    <div class="principal">
      <div class="principal_petit">
        <div class="principal_img">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/img_scale_sociaux.png" border="0" align="center"/>
        </div>
      </div>
    </div>
  </a>
 <br> <h3>Thor</h3>
</div>