<div class="header">
<h1>ABOUT</h1>
<h3>A ChatBot utilizing websockets to open an interactive communication session between the user's browser and a server. Also utilizing a MarkovChain dependency to generate sentences based on Dr. Seuss poems. </h3>
<br>
<p style="color: white;">Made with <span style="color:red;">&hearts;</span> by <a href="https://github.com/M-Woo" style="color: red;">Mark Woo</a></p>
</div>