<div class="header">
<h1>ABOUT</h1>
<h3>A ChatBot utilizing websockets to open an interactive communication session between the user's browser and a server. Also utilizing a MarkovChain dependency to generate sentences based on Dr. Seuss poems. </h3>
</div>