<div class="header">
<h1>Profile</h1>
<% JSON.stringify(currentUser) %>
	<h3><%= currentUser.username %></h3>
	<h3><%= currentUser.email %></h3>
	<a href="/profile/<%=  currentUser.id %>" class="btn btn-danger glyphicon glyphicon-trash delete-btn delete-account"> DELETE ACCOUNT</a>

</div>